<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- root -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>


    <!-- slf4j -->
    <logger name="ch.qos.logback.core.joran" level="WARN"/>

    <!-- rslakra -->
    <logger name="com.rslakra" level="DEBUG"/>
    <!-- zaxxer -->
    <logger name="com.zaxxer" level="WARN"/>

    <!-- apache -->
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.tomcat" level="WARN"/>

    <!-- hibernate -->
    <logger name="org.hibernate" level="WARN"/>

    <!-- springframework -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.boot" level="WARN"/>
    <logger name="org.springframework.transaction" level="WARN"/>
    <!-- in order to debug some marshalling issues, this needs to be TRACE -->
    <logger name="org.springframework.web.servlet.mvc" level="WARN"/>

    <!-- thymeleaf -->
    <logger name="org.thymeleaf" level="WARN"/>

    <!-- zaxxer -->
    <logger name="org.zaxxer" level="WARN"/>
    <!-- <logger name="org.zaxxer.hikari" level="WARN"/>-->
    <!-- <logger name="org.zaxxer.hikari.*" level="WARN"/>-->

</configuration>
